In [3]:
import pandas as pd
df = pd.read_csv("employees.csv")
df.head()

,First Name,Gender,Start Date,Last Login Time,Salary,Bonus %,Senior Management,Team
0,Douglas,Male,8/6/1993,12:42 PM,97308,6.945,True,Marketing
1,Thomas,Male,3/31/1996,6:53 AM,61933,4.170,True,NaN
2,Maria,Female,4/23/1993,11:17 AM,130590,11.858,False,Finance
3,Jerry,Male,3/4/2005,1:00 PM,138705,9.340,True,Finance
4,Larry,Male,1/24/1998,4:47 PM,101004,1.389,True,Client Services

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
First Name           933 non-null object
Gender               855 non-null object
Start Date           1000 non-null object
Last Login Time      1000 non-null object
Salary               1000 non-null int64
Bonus %              1000 non-null float64
Senior Management    933 non-null object
Team                 957 non-null object
dtypes: float64(1), int64(1), object(6)
memory usage: 62.6+ KB

In [9]:
df["Start Date"].head()

0     8/6/1993
1    3/31/1996
2    4/23/1993
3     3/4/2005
4    1/24/1998
Name: Start Date, dtype: object

In [11]:
pd.to_datetime(df['Start Date']).head()

df['Start Date'] = pd.to_datetime(df['Start Date']).head()

In [12]:
df['Last Login Time'].head()

0    12:42 PM
1     6:53 AM
2    11:17 AM
3     1:00 PM
4     4:47 PM
Name: Last Login Time, dtype: object

In [16]:
pd.to_datetime(df['Last Login Time']).head()
df['Last Login Time'] = pd.to_datetime(df['Last Login Time']).head()

In [18]:
df['Senior Management'].head()

0     True
1     True
2    False
3     True
4     True
Name: Senior Management, dtype: object

In [21]:
df['Senior Management'].astype("bool").head()

df['Senior Management'] = df['Senior Management'].astype("bool").head()

In [22]:
df['Gender'].astype('category')

df['Gender'] = df['Gender'].astype('category')

0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: category
Categories (2, object): [Female, Male]